body {
    display: flex;
    margin: 0;
    justify-content: center;
}

nav {
    display: flex;
    height: 100px;
    font-family: Verdana;
    background-color: #3F3F3F;
    position: fixed;
    top: 0;
    align-items: center;
    justify-content: space-around;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
}

nav, section {
    width: 100vw;
    max-width: 1920px;
}

nav #logo {
    transform: rotate(0deg);
    transition: all 1s ease-in-out;
}

nav #logo:hover {
    transform: rotate(360deg)
}

section {
    margin-top: 100px;
}

article {
    display: flex;
    height: calc(100vh - 100px);
}

#cadreA {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    margin-inline-start: 0em;
    background-image: url("../images/accueil.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#cadreA h1 {
    margin: 0;
    text-shadow: 8px 0 0 black, 0 8px 0 black, 0 -8px 0 black, -8px 0 0 black, 8px 8px 0 black, 8px -8px 0 black, -8px 8px 0 black, -8px -8px 0 black;
    font-size: 150px;
    color: white;
    font-family: Impact
}

.button {
    display: inline-block;
    vertical-align: middle;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 25px;
    padding: 20px;
    width: 300px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after { /* le but est d'ajouter un pseudo-élément après le texte du bouton */
    content: '\00bb'; /* affichage d'un caractere special : » */
    position: absolute;
    opacity: 0;
    top: 0;
    right: -50px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

#cadreB {
    background-color: #3F3F3F;
    flex-direction: column;
    color: white;
    font-family: Verdana;
}

#cadreB:target {
    margin-top: -100px;
    padding-top: 100px;
}

#cadreB > h2 {
    font-size: 50px;
    text-align: center;
}

#cadreB div {
    display: flex;
    flex: 1;
}

#cadreB div > div {
    flex-direction: column;
    align-content: space-between;
}

#cadreB h4 {
    align-self: center;
}

#cadreB p {
    display: flex;
    justify-content: space-around;
}

#cadreC > div {
    flex: 1;
    background-image: url("../images/contact.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#cadreC form {
    display: flex;
    flex: 2;
    flex-direction: column;
    justify-content: space-around;
}

form div {
    display: flex;
    justify-content: space-between;
    font-size: x-large;
    margin-left: 20px;
    margin-right: 20px;
}

form div:last-child {
    width: 30%;
    align-self: flex-end;
}

label {
    flex: 1;
}

input, textarea {
    padding: 10px;
    flex: 3;
}

@media (max-width: 1024px) {
    input, textarea {
        flex: 2;
    }
}

@media (max-width: 600px) {
    nav a {
        display: none;
    }

    nav #logo {
        display: block;
        position: relative;
    }

    article {
        height: auto;
    }

    #cadreA, #cadreC {
        height: calc(100vh - 100px);
    }

    #cadreA h1 {
        font-size: 75px;
    }

    #cadreA button {
        width: fit-content;
    }

    #cadreB div {
        margin-bottom: 20px;
    }

    #cadreB div, form div {
        flex-direction: column;
    }

    #cadreC div {
        font-size: initial;
    }
    #cadreC div:last-child {
        width: initial;
    }
}